<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Sibling dtpipe repo local package source (uncomment to test local pre-release packages) -->
    <!-- <add key="local-packages" value="../dtpipe/nuget-packages" /> -->
  </packageSources>
</configuration>
